.SectionMain {
  margin-top: 0px;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background-color: transparent;
}

.footmain {
  display: flex;
  background-color: #0b1538;
  justify-content: space-evenly;
}

.corpsco {
  display: flex;
  flex-basis: 90%;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-self: baseline;
  position: sticky;
  top: 0;
  flex-wrap: wrap;
  overflow: auto;
}


.corps {
  display: flex;
  flex-basis: 85%;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-self: baseline;
  position: sticky;
  top: 0;
  flex-wrap: wrap;
  overflow: auto;
}

.header {
  position: relative;
  flex-basis: 10%;
  background-color: black;
}

/*Corps de toutes les autres pages*/
.corpschild {
  display: flex;
  flex-basis: 90%;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-self: baseline;
  position: sticky;
  top: 0;
  flex-wrap: wrap;
  overflow: auto;
}

.left-pane {
  position: sticky;
  top: 0;
  height: 100%;
  flex-basis: 17.5%;
  /*Pour regler les proportions des pannels*/
  background-color: transparent;
  flex: 1;
  align-self: baseline;
  overflow: hidden;
}

.main-pane {
  position: sticky;
  height: 100%;
  flex-basis: 65%;
  /*Pour regler les proportions des pannels*/
  background-color: transparent;
  align-self: stretch;
  padding: 10px;
}

.right-pane {
  top: 0;
  position: sticky;
  height: 100%;
  flex-basis: 17.5%;
  /*Pour regler les proportions des pannels*/
  background-color: transparent;
  align-self: stretch;
  overflow: hidden;
}

.login {
  justify-content: baseline;
}

.txt-foot {
  font-size: larger;
  color: rgb(55, 110, 162);
  text-align: center;
}

.footmain-button {
  width: auto;
  height: 70%;
  border-radius: 40px;
}