.saved-settings {
    display: flex;
    flex-basis: 20%;
    background-color: rgb(87, 64, 118);
    border-bottom: 1px solid rgba(0, 0, 0, 0.236);
}

.username-change {
    display: flex;
    flex-basis: 80%;
    flex-direction: row;
}

.conteneur_username {
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    align-items: center;
}

.conteneur_pseudo {
    display: flex;
    margin: 5px;
    flex-direction: column;
    flex-basis: 50%;
    align-items: center;
}

.username1,
.username2 {
    margin: 5px;
}


.btn-confirm {
    margin-top: 10px;
}



.modification-info {
    display: flex;
    flex-direction: column;
}

.modif-nom-prenom {
    justify-content: center;
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-basis: 20%;
}

.modif-nom {
    margin: 5px;
    display: flex;
    flex-basis: 50%;
}

.modif-prenom {
    margin: 5px;
    display: flex;
    flex-basis: 50%;
}

.modif-mail-birth {
    justify-content: center;
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-basis: 20%;
}

.modif-mail {
    margin: 5px;
    display: flex;
    flex-basis: 50%;
}

.modif-birth {
    margin: 5px;
    display: flex;
    flex-basis: 50%;
}

.inputs-profile {
    margin-left: 5px;
}


.mdp-change {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.oldpsw {
    display: flex;
    align-content: center;
    flex-basis: 30%;
}

.new-psw {
    display: flex;
    flex-direction: row;
    flex-basis: 70%;
}

.first,
.second {
    display: flex;
    flex-basis: 50%;
}


.changepseudo {
    display: flex;
    justify-content: center;

}

.modif-bio-profile {
    display: flex;
    justify-content: center;
}

.success-msg {
    display: flex;
    justify-content: center;
    color: green;
}

.age-msg {
    display: flex;
    justify-content: center;
    color: rgb(128, 0, 0);
}