.main-pane-profile {
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid black;
    justify-content: center;
}

.background-picture {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}


.image_de_fond {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pp-section {
    position: relative;
    top: -75px;
    margin-left: 10px;

}

.tweet-img {
    border-radius: 50%;
    border: 3px solid white;
    width: 150px;
    height: 150px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}


.info-profile {
    text-align: left;
    margin-top: -70px;
    margin-right: 20px;
}

.username {
    font-size: 28px;
    margin: 0;
    font-weight: bold;
}

.abonne {
    display: flex;
    margin-top: 10px;
}

.abonnement,
.abonnes {
    cursor: pointer;
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
}

.nb-abonnement,
.nb-abonnes {
    font-weight: normal;
}

.bio {
    margin-top: 20px;
    font-size: 16px;
    max-width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.modification-banniere {
    align-items: baseline;
    margin-left: 100px;
}

.edit-btn-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.edit-btn {
    background-color: rgba(128, 128, 128, 0.571);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.edit-btn-container {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    z-index: 1;
}

.edit-btn {
    background-color: rgba(128, 128, 128, 0.21);
    border: 1px solid #1da1f2;
    color: #1da0f2;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 12px;
}

.edit-btn:hover {
    background-color: #1da1f2;
    color: white;
}

.avatar-container {
    display: flex;
    justify-content: space-between;
}

.edit-profile-btn {
    background-color: transparent;
    border: 1px solid #1da1f2;
    color: #1da1f2;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 12px;
}

.flux-profile {
    display: flex;
}

.navigation-button {
    display: flex;
}

.nav-profile-button {
    background: transparent;
    font-size: large;
}

.navigation-button {
    display: flex;
    border-bottom: 0.3px solid #1da1f2;
}

.nav-profile-button {
    background: transparent;
    font-size: medium;
    color: #1da1f2;
    border-radius: 0%;
}

.nav-profile-button:hover {
    background: transparent;
    color: #1da1f2;
    background-color: rgba(156, 217, 217, 0.589);
}


.username {
    color: rgb(156, 183, 179);
    display: flex;
}

.name-prenom {
    color: black;
    display: ruby-base;
}

.container-usernanme {
    display: flex;
    justify-content: space-between;
}

.info-username {
    flex-basis: 100%;
}

.config-button {
    display: flex;
    align-self: self-end;
    width: 50%;
    justify-content: flex-end;
}

.add-btn {
    align-items: center;
    background: transparent;
    border: 1px solid blue;
    color: blue;
    flex-basis: 70%;
}

.config-btn {
    align-items: center;
    background: transparent;
    border: 1px solid blue;
    color: blue;
    flex-basis: 30%;
}


.add-btn:hover {
    align-items: center;
    background: transparent;
    border: 1px solid blue;
    color: blue;
    background-color: #1da0f2a8;
}

.config-btn:hover {
    align-items: center;
    background: transparent;
    border: 1px solid blue;
    color: blue;
    background-color: #1da0f2a8;
}

.icon-edit {
    width: 30px;
    height: 40px;
}

.private-account {
    display: flex;
    justify-content: center;
}



.modal-abonnement {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: #ffffff;
    border: 2px solid #000000;
    box-shadow: 24px;
    padding: 16px;
    height: 70%;
    /*Pour changer la hauteur du modal*/
}

.modal-abonnement-titre {
    display: flex;
    flex-direction: row;
    flex-basis: 10%;
}

.modal-title {
    flex-basis: 95%;
    justify-content: center;
}

.exit-button {
    flex-basis: 5%;
    align-self: center;
    font-size: xx-large;
    cursor: pointer;
}

.partie-abonnement {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px rgba(0, 0, 0, 0.309);
}

.partie-abonnement:hover {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px rgba(0, 0, 0, 0.309);
    background-color: #e8f5fe;
}

.pp-abonnement {
    display: flex;
    justify-content: center;
    flex-basis: 5%;
}

.pdp-abonnement {
    display: flex;
    border-radius: 50%;
    border: #1da0f2 solid 1px;
    height: 60px;
    width: 60px;
    align-self: center;
}

.nom-abonnement {
    display: flex;
    flex-basis: 75%;
    left: 0;
    align-items: center;
    font-size: x-large;
    margin-left: 1px;
}


.pseudo-abonnement {
    margin-left: 2%;
}

.unfollow-tac {
    display: flex;
    flex-basis: 20%;
    align-items: center;
    justify-content: center;
}

.lis-abo {
    flex-basis: 90%;
}

.unfollow-button {
    width: 100%;
    height: 40px;
    border-radius: 0%;
    background: rgb(5, 5, 5);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: #ffffff;
}

.profile-setting {
    display: flex;
    flex-basis: 20%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.236);
}


.edit-pannel-principal {
    display: flex;
    flex-direction: column;
}

.edit-pannel-up {
    padding: 2px;
    display: flex;
    flex-direction: row;
    flex-basis: 10%;
    border-bottom: 1px solid rgb(32, 32, 32);
    margin-bottom: 10px;
}

.edit-pannel-up-left {
    display: flex;
    flex-basis: 5%;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    justify-self: center;
}

.edit-pannel-up-mid {
    flex-basis: 65%;
    display: flex;
    align-items: center;
    align-content: center;
    font-weight: bold;
}

.edit-pannel-up-right {
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
}


.edit-pannel-mid {
    display: flex;
    flex-basis: 50%;
    border: 1px solid black;
}

.edit-pannel-down {
    flex-basis: 40%;
    border: 1px solid black;

}

.btn-save {
    background-color: #1da1f2;
    width: 80%;
    margin: 2px;
    border: 1px solid #1da1f2;
}

.btn-save:hover {
    background-color: #e8f5fe;
    width: 80%;
    margin: 2px;
    border: 1px solid #1da1f2;
}



.iii {
    opacity: 40%;
    position: absolute;
    /* définir la position absolue pour que l'icône soit positionnée par rapport à son élément parent */
    top: 50%;
    /* définir la position verticale de l'icône par rapport au haut de son élément parent */
    left: 50%;
    /* définir la position horizontale de l'icône par rapport à la gauche de son élément parent */
    transform: translate(-50%, -50%);
    /* déplacer l'icône de moitié de sa propre largeur et hauteur pour la centrer au milieu */
}

.iii:hover {
    cursor: pointer;
    opacity: 100%;
    position: absolute;
    /* définir la position absolue pour que l'icône soit positionnée par rapport à son élément parent */
    top: 50%;
    /* définir la position verticale de l'icône par rapport au haut de son élément parent */
    left: 50%;
    /* définir la position horizontale de l'icône par rapport à la gauche de son élément parent */
    transform: translate(-50%, -50%);
    /* déplacer l'icône de moitié de sa propre largeur et hauteur pour la centrer au milieu */
}




.avatar-container2 {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.gaauche {
    display: flex;
    align-items: center;
    justify-content: center;
}


.i:hover {
    cursor: pointer;
    opacity: 100%;
    position: absolute;
}

.i {
    cursor: pointer;
    opacity: 40%;
    position: absolute;
}

.nav-profile-button.active {
    background-color: rgba(156, 217, 217, 0.589);
}

.nav-profile-button {
    background: transparent;
    font-size: medium;
    color: #1da1f2;
    border-radius: 0%;
}

.nav-profile-button:hover {
    background: transparent;
    color: #1da1f2;
    background-color: rgba(156, 217, 217, 0.589);
}