.saved-settings {
    display: flex;
    flex-basis: 20%;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.236);
}

.stats {
    display: flex;
    flex-basis: 80%;
    flex-direction: column;
    height: 70%;
}

.stats-supérieur {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
}

.stat-affichage {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
}

.stat-icone {
    color: #5777d5;
    display: flex;
    flex-basis: 40%;
    justify-content: center;
    justify-items: center;
    align-items: last baseline;
}

.stat-name {
    color: #5777d5;
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: x-large;
}

.stat-number {
    display: flex;
    flex-basis: 35%;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
}


.stat-inférieur {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
}

.stat-affichage1 {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
}

.stat-affichage2 {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
}


.statistique-nb {
    color: #5777d5;
}

.fa-2xl {
    font-size: 4em;
    line-height: 0.03125em;
}